<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/searchbus.css' %}"/>


</head>

<body>

    <div class="cardContainer">
        <div class="det">
            <h1 id="fro">{{depature}}</h1>
            <h1 id="to">{{arrive}}</h1>
            <h1 id="date">{{date}}</h1>
        </div>


        {% for f,n in datas %}
        <div class="card">
            <h2>{{f}}</h2>
            <p>{{n}}</p>
        </div>

        {%endfor%}
    </div>
</body>

</html>